<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Nick Mathewson<br />
                nickm&#064;alum.mit.edu<br />
                &ldquo;Wrong on the Internet since 1995&rdquo;
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/nmathewson">github.com/nmathewson</a><br />
                <a href="https://twitter.com/nickm_tor">twitter.com/nickm_tor</a><br />

              </p>
            </div>
          <p class="disclaimer">I am not speaking for my employer unless I specifically say otherwise. Nor am I speaking for past or future versions of myself: I might change my opinions at any time. Follow technical advice at your own risk. This site is currently hosted at github pages, which doesn't do TLS; make your security decisions accordingly.</p>
          <div class="license"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0;float:left;margin:1ex 1ex 0 0;" src="/img/by-nc-sa-88x31.png" /></a><p>Except when otherwise noted, content on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License</a>. Drop me a line if you want to modify or redistribute something here under different terms.</p></div>
          </div>
        </div>

    </body>
</html>
